<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Answerallfive by sattastudd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61915018-2', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
   <div ng-controller="DefaultController" bgcolor="#229FC0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Calculate Your Success rate</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 ng-if="fieldSelected">Select your field</h2>
                <h2 ng-if="examSelected">Select your Exam</h2>
                <h2 ng-if="courseSelected">Select you Test</h2>
                <h2 ng-if="testSelected">Select your 10th %age</h2>
                <h2 ng-if="tenthSelected">Select your 12th %age</h2>
                <h2 ng-if="twelthSelected">Select your study hours</h2>
                <h2 ng-if="graduationSelected">Select your working hours</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="fieldSelected">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <h3 class="fieldBlock" ng-click="studyClicked()">Study</h3>
                </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <h3 class="fieldBlock">Job</h3>
                </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <h3 class="fieldBlock">Business</h3>
                </div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <h3 class="fieldBlock">Love</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="examSelected">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="courses in study">
                    <h3 class="fieldBlock" ng-click="courseClicked(courses)">{{courses}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="courseSelected" >                 
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="test in questionlist">
                    <h3 class="fieldBlock" ng-click="testClicked(test)">{{test}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="testSelected" >                 
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="percent in percentlist">
                    <h3 class="fieldBlock" ng-click="tenthClicked(percent)">{{percent}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="tenthSelected" >                 
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="percent in percentlist">
                    <h3 class="fieldBlock" ng-click="twelthClicked(percent)">{{percent}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="twelthSelected" >                 
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="graduation in graduationlist">
                    <h3 class="fieldBlock" ng-click="graduationClicked(graduation)">{{graduation}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="graduationSelected" >                 
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="hour in hours">
                    <h3 class="fieldBlock" ng-click="hoursClicked(graduation)">{{hour}}</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="gradPercentSelected" >                 
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="hour in hours">
                    <h3 class="fieldBlock" ng-click="hoursClicked(graduation)">{{hour}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>
</html>

