.backColor {
    position: fixed;
    background-color: #932d87;
    color:white;
    height: 40px;
    padding-top: 3px;
    z-index: 2
    box-shadow: 0px 1px 1px #932D87
}
.m10{
    margin-top:10px;
    margin-bottom:18px;
}
.ptop15{
    padding-top:15px;
}
.mtop20{
   margin-top:40px;
}
.playForBlock{
    background-color: gainsboro;
}
.welcomeText{
    margin-top:40px;
    color:white;
    background-color: #932d87;
    height: 260px;
}
.textMargin{
  margin-top: 78px;
  margin-bottom: 45px;
}
.login{
    float: right;
    padding-right: 20px;
}
.btnBlock:hover{
    box-shadow: 0 9px 10px 0px #555;
    top: -1px;
}
.btnBlock{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
    top: 0px;
    -webkit-transition: all .5s;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: whitesmoke;
}
.timerBlock{
    margin-top: 100px;
    border-bottom: 1px solid gainsboro;
}
.timerFont{
    font-size:22px;
    color:red;
}
.questionTitle{
    text-align:center;
    font-size:20px;
    color:#7b2d87;
}
@media (max-width: 450px){
    .questionTitle{
         font-size:12px;
    }
    .timerFont{
        font-size:16px;
    }
}
@media (max-width: 768px){
    .timerBlock{
        margin-top: 60px;
    }
    .textMargin{
      margin-top: 30px;
    }
}
