body {background-color:#229FC0;
color:white; text-align:center}

.fieldBlock{
  border: 1px solid;
  height: 120px;
  width: 123px;
  padding-top: 42px;
  border-radius: 60px;
  background-color: rgb(24, 131, 160);
}

@media (max-width: 768px) {
h1{font-size: 24px}
h2{font-size: 19px}
h3{font-size: 16px}

    .fieldBlock{
      height: 90px;
      width: 92px;
      padding-top: 35px;
    }
}
